body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d6d8da;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #2c3e50;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1em;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
}

button#enviar {
    background-color: #004e81;
    color: white;
}

button#salvar {
    background-color: #0088ff;
    color: white;
}

button:hover {
    opacity: 0.8;
}

#resultado {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    text-align: left;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}



th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


